header { 
    width: 50%; 
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.allContent { 
    float: right;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}