/* Global styling */

body { 
    font-family: 'Hind Vadodara', sans-serif;
    color: #121818;
}

.section-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-subheading, .section-subheading, section h3.section-subheading { 
    letter-spacing: 6px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: lighter;
}

.section-subheading, section h3.section-subheading {
    letter-spacing: normal;
}

a, a:link, a:visited, a:active { 
    color: #389ca7;
}

::selection {
    background: #c1d9e8; /* WebKit/Blink Browsers */
    color: #2E3C5C;
}
::-moz-selection {
    background: #c1d9e8; /* Gecko Browsers */
    color: #2E3C5C;
}

.allContent { 
    width: 50%;
    float: right;
    padding: 60px;
    height: 100%;
    margin-top: 50px;
}

/* ------------ navbar ------------- */

.navbar { 
    z-index: 9999999; /* make sure it's above everything else on the page */ 
    position: fixed;
    background-color: #fff;
    width: 50%;
    top: 0;
    right: 0;
    padding-top: 3px;
    border-radius: 0px;
    height: 45px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

#myNavbar { 
    padding: 0px 40px;   
}

.navbar-toggle { 
    color: #121818;
    height: 45px;
    padding: 0px;
    padding-right: 20px;
    margin: 0px;
}

.navbar a:link, .navbar a:active, .navbar a:visited, .contactLinks a:link, .contactLinks a:active, .contactLinks a:visited  { 
    color: #121818;
}

.nav>li>a:focus, .nav>li>a:hover, .navbar-toggle:hover, .contactLinks a:hover { 
    color: #5e787b;
    background-color: transparent;
}

.navbar.affix, .navbar.affix .navbar-collapse.in, .navbar.affix .navbar-collapse.collapsing { 
    background-color: #CBD2D2;
}

.navbar.affix .navbar-collapse.in, .navbar.affix .navbar-collapse.collapsing {
    border-top: 1px solid #8C9C9E;
    border-bottom: 1px solid #8C9C9E;
}

.nav>li>a { 
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 5px;
    padding-top: 10px;
}

.navbar.affix .nav>li>a { 
    font-size: 14px;
    padding-left: 3px;
}
.navbar-collapse.in ul, .navbar-collapse.collapsing ul{ 
    padding-left: 30px;
}

.navbar.affix .navbar-collapse.in .nav>li>a, .navbar.affix .navbar-collapse.collapsing .nav>li>a{ 
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar.affix-top .navbar-collapse.in, .navbar.affix-top .navbar-collapse.collapsing { 
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

/* -------- Big image --------- */
header { 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    display: block;
    background-position: 50% 0;
    width: 50%; 
}

/* -------- About section -------- */
.contactLinks i { 
    padding-right: 10px;
}


.textContainer { 
    margin-top: 30px;
}

/* -------- Experience Section ------- */ 

#experience { 
    margin: 0px;
    padding: 0px;
    margin-top: 50vh; /* could be better, but works for now */ 
    padding-top: 15px;
}

#experience .container { 
    width: 100%;
}

.timeline > li .timeline-panel, .timeline > li.timeline-inverted > .timeline-panel  { 
    padding: 0px;
}

.timeline > li .timeline-panel { 
    padding-right: 60px;
}

.timeline > li.timeline-inverted > .timeline-panel { 
    padding-left: 60px;
}

.timeline-heading > h5 { 
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: lighter;
}

.timeline-heading > h4 { 
    font-family: 'Playfair Display', serif;
}

/* -------- Projects Section ------- */ 

#projects .container { 
    width: 100%;
}

/* -------- Footer Section ------- */ 

footer { 
    text-align: left;
}

/* ------------ Media queries ------------- */

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    header, .allContent, .navbar { 
        width: 50%;
    }
}

@media only screen and (max-width : 950px){
    header { 
        width: 40%;
    }
    
    .allContent, .navbar { 
        width: 60%;
    }
}
 
/* Large screens */
@media only screen and (min-width : 1824px) {
    header, .allContent, .navbar { 
        width: 50%;
    }    
}
 
/* Tablets (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
     header { 
        width: 40%;
    }
    
    .allContent, .navbar {
        width: 60%;
    }
}
 
/* Tablets (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
     header { 
        width: 40%;
    }
    
    .allContent, .navbar {
        width: 60%;
    }
}
 
/* Smartphones (landscape) */
@media only screen and (min-width : 321px) and (max-width : 768px) {
    header { 
        display:none;
    }
    
    .allContent, .navbar { 
        width: 100%;
    }
}
 
/* Smartphones (portrait) */
@media only screen and (max-width : 375px) {
    header { 
        display:none;
    }
    
    .allContent, .navbar { 
        width: 100%;
    }
}